* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  position: absolute;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  background-color: #d8e3e7;
  padding: 25px;
}

.burger-icon {
  width: 20px;
  height: 20px;
}
